.notFound {
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
}

.notFound[link='true'] {
    cursor: pointer;
}

.notFound[link='true']:hover {
  text-decoration: underline;
  color: blue;
}